.list {
  display: flex;
  overflow-x: auto;
  gap: 22rem;
  padding-bottom: 16rem;
}
.item {
  background: var(--liniar-gradient);
  border-radius: 23rem;
  display: flex;
  flex-direction: column;
  padding: 12rem 12rem 22.75rem 12rem;
  flex-shrink: 0;
  max-width: 149rem;

  &__title {
    margin-top: 9.86rem;
    font-weight: 400;
    font-size: 13rem;
    line-height: 154%;
    margin-bottom: 1rem;
  }

  &__desc {
    font-weight: 400;
    font-size: 9rem;
    line-height: 222%;
    margin-bottom: 6rem;
  }

  &__id {
    display: none;
  }

  &__price {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.price {
  font-weight: 600;
  font-size: 15rem;
  line-height: 133%;
  & span {
    color: var(--accent-color-1);
  }
}
.icon-plus {
  font-size: 10rem;
  &::before {
    padding: 10.5rem;
    background: var(--accent-color-1);
    border-radius: 7rem;
  }
}
